extends ../externals/adminformsbase

block content
  main.create
    .create__cover
      -const movieId = movie ? movie.id : ''
      form.create-new#create-movie(data-movie-id=`${movieId}`)
        .form-heading
          h1 #{movie ? 'Update Movie' : 'Create Movie'}
        
        .form-group
          label.label-basic(for="movie-title") title
          input#movie-title.input-basic(type="text" value=`${movie && movie.title || ''}` required)
        
        .form-group
          label.label-basic(for="movie-image-portrait") image portrait link
          input#movie-image-portrait.input-basic(type="text" value=`${movie && movie.portrait || ''}` required)
        
        .form-group
          label.label-basic(for="movie-image-landscape") image landscape link
          input#movie-image-landscape.input-basic(type="text" value=`${movie && movie.landscape || ''}` required)
        
        .form-group
          label.label-basic(for="movie-description") description
          textarea#movie-description.textarea-basic(rows="3" required) #{movie && movie.description || ''}
        
        .form-group
          label.label-basic(for="movie-tags") tags
          - const tags = movie && movie.tags.join(',') || ''
          input#movie-tags.input-basic(type="text" value=`${tags}` required)
        
        .form-group
          label.label-basic(for="movie-key-words") keywords
          - const keywords = movie && movie.keywords.join(',') || ''
          input#movie-keywords.input-basic(type="text" value=`${keywords}` required)
        
        .form-group
          label.label-basic(for="movie-directors") directors
          - const directors = movie && movie.directors.join(',') || ''
          input#movie-directors.input-basic(type="text" value=`${directors}` required)
        
        .form-group
          label.label-basic(for="movie-actors") actors
          - const actors = movie && movie.actors.join(',') || ''
          input#movie-actors.input-basic(type="text" value=`${actors}` required)
        
        .form-group
          label.label-basic(for="movie-charactors") charactors
          - const charactors = movie && movie.charactors && movie.charactors.join(',') || ''
          input#movie-charactors.input-basic(type="text" value=`${charactors}` required)
        
        .form-group
          label.label-basic(for="movie-companies") companies
          - const companies = movie && movie.companies.join(',') || ''
          input#movie-companies.input-basic(type="text" value=`${companies}` required)
        
        .form-group-double
          .form-group
            label.label-basic(for="movie-company") company
            input#movie-company.input-basic(type="text" value=`${movie && movie.company || ''}` required)
          .form-group
            label.label-basic(for="movie-date") release date
            input#movie-date.input-basic(type="date" value=`${movie && movie.releasedDate || ''}` required)
        
        .form-group-double
          .form-group
            label.label-basic(for="movie-country") country
            select#movie-country.input-basic(type="text" data-value=`${movie && movie.country || ''}` required)

          .form-group
            label.label-basic(for="movie-rating") rating
            input#movie-rating.input-basic(type="text" value=`${movie && movie.rating || ''}` required)
        
        
        if(movie && movie.Links.length)
          .form-heading
            h1 Download links
          .movie-links#movie-links
            .movie-links__cover
              each link in movie.Links
                +dbMovieLinkCard(link)

        if(movie)
          .center-components.add-movie-link
            i.fas.fa-plus-circle#add-movie-link(title="add movie link")

        .center-components
          button.btn-black.btn-normal#movie-btn(type="submit")
            span.btn-content #{movie ? 'update' : 'create'}



  .popup.display-off#create-link-popup
    .popup-box.popup-box-normal
      //- 
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#create-link(data-movie-id=`${movieId}`)
          .form-heading
            h1 new movie link
          .form-group-double
            .form-group
              label.label-basic(for="link-title") link title
              select#link-title.input-basic
            .form-group
              label.label-basic(for="link-title") link title
              input#link-title-2.input-basic(type="text")
          .form-group
            label.label-basic(for="link-resolution") resolution
            select#link-resolution.input-basic(type="text" data-value=`` required)
              option(value="") -- select resolution --

          .form-group
            label.label-basic(for="link-link") link
            input#link-link.input-basic(type="text" required)
          .center-components
            button.btn-black.btn-normal#link-btn(type="submit")
              span.btn-content save


  .popup.display-off#delete-link-popup
    .popup-box.popup-box-normal
      //- 
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#delete-link(data-link-id=`${linkId}`)
          .form-heading
            h1 Are you sure you want to delete the link
          
          .center-components
            button.btn-black.btn-normal#delete-link-btn(type="submit")
              span.btn-content yes, delete


