extends ../externals/adminformsbase

block content
  main.create
    .create__cover
      - const seasonId = season ? season.id : ''
      form.create-new#create-season(data-season-id=`${seasonId}` data-serie-id=`${serieId}`)
        .form-heading
          h1= season ? 'Update Season' : 'Create Season'
        .form-group
          label.label-basic(for="season-title") season title
          input#season-title.input-basic(type="text" value=`${season && season.title || ''}`)
        .form-group-double
          .form-group
            label.label-basic(for="season-number") season number
            input#season-number.input-basic(type="number", min="1" value=`${season && season.number || ''}` required)
          .form-group
            label.label-basic(for="season-year") year
            input#season-date.input-basic(type="date" value=`${season && season.releasedDate || ''}` required)
        .form-group
          label.label-basic(for="season-description") description
          textarea#season-description.textarea-basic(rows="3") #{season && season.description || ''}
        .form-group
          label.label-basic(for="season-image-protrait") image portrait link
          input#season-image-portrait.input-basic(type="text" value=`${season && season.portrait || ''}` required)
        
        .form-group
          label.label-basic(for="season-image-landscape") image landscape link
          input#season-image-landscape.input-basic(type="text" value=`${season && season.landscape || ''}` required)
        .center-components
          button.btn-black.btn-normal#create-season-btn(type="submit")
            span.btn-content save
      
      if(season && season.Episodes.length)
        .season-episodes#season-episodes.margin-t3
          .season-episodes__list
            each episode in season.Episodes
              +dbEpisodelinkCard(episode)
           

      if(season)
        .center-components
          a(href=`/dashboard/episodeform/${seasonId}` style="display: inline-block;")
            button.btn-black.btn-normal(type='button' style="width: max-content; display: inline-block;")
              span.btn-content add episode

  //- .popup.display-off#create-episode-popup
  //-   .popup-box
  //-     .popup-close
  //-       i.fas.fa-times
  //-     .popup-content.create-content
  //-       form.create-new#create-episode(data-season-id=`${seasonId}`)
  //-         .form-heading
  //-           h1 episode links
  //-         .form-group-double
  //-           .form-group
  //-             label.label-basic(for="episode-title") episode title
  //-             input#episode-title.input-basic(type="text")
  //-           .form-group
  //-             label.label-basic(for="episode-number") episode number
  //-             input#episode-episode.input-basic(type="number" required)
  //-         .form-group
  //-           label.label-basic(for="episode-480-link") 480 link
  //-           input#episode-480-link.input-basic(type="text")
  //-         .form-group
  //-           label.label-basic(for="episode-720-link") 720 link
  //-           input#episode-720-link.input-basic(type="text")

  //-         .form-group
  //-           label.label-basic(for="episode-1080-link") 1080 link
  //-           input#episode-1080-link.input-basic(type="text")

  //-         .form-group
  //-           label.label-basic(for="episode-other-link") other link
  //-           input#episode-other-link.input-basic(type="text")
  //-         .form-group
  //-           label.label-basic(for="episode-subtitle-link") subtitle link
  //-           input#episode-subtitle-link.input-basic(type="text")
          
  //-         .center-components
  //-           button.btn-black.btn-normal#create-episode-btn(type="submit")
  //-             span.btn-content save


  .popup.display-off#delete-episode-popup
    .popup-box
      //- .popup-box-normal
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#delete-episode
          .form-heading
            h1 Are you sure you want to delete the episode
          
          .center-components
            button.btn-black.btn-normal#delete-episode-btn(type="submit")
              span.btn-content yes, delete

