extends ../externals/adminformsbase

block content
  main.create
    .create__cover
      - const serieId = serie ? serie.id : ''
      form.create-new#create-serie(data-serie-id=`${serieId}`)
        .form-heading
          h1= serie ? 'Update Serie' : 'Create Serie'
        .form-group
          label.label-basic(for="serie-title") title
          input#serie-title.input-basic(type="text" value=`${serie && serie.title || ''}` required)
        
        .form-group
          label.label-basic(for="serie-image-portrait") image portrait link
          input#serie-image-portrait.input-basic(type="text" value=`${serie && serie.portrait || ''}` required)
        
        .form-group
          label.label-basic(for="serie-image-landscape") image landscape link
          input#serie-image-landscape.input-basic(type="text" value=`${serie && serie.landscape || ''}` required)
        
        .form-group
          label.label-basic(for="serie-description") description
          textarea#serie-description.textarea-basic(rows="3") #{serie && serie.description || ''}
        
        .form-group
          label.label-basic(for="serie-tags") tags
          input#serie-tags.input-basic(type="text" value=`${serie && serie.tags.join(',') || ''}` required)
        
        .form-group
          label.label-basic(for="serie-key-words") keywords
          input#serie-keywords.input-basic(type="text" value=`${serie && serie.keywords.join(',') || ''}` required)
        
        .form-group
          label.label-basic(for="serie-directors") directors
          input#serie-directors.input-basic(type="text" value=`${serie && serie.directors.join(',') || ''}` required)
        
        .form-group
          label.label-basic(for="serie-actors") actors
          input#serie-actors.input-basic(type="text" value=`${serie && serie.actors.join(',') || ''}` required)
        
        .form-group
          label.label-basic(for="serie-characters") charactors
          input#serie-charactors.input-basic(type="text" value=`${serie && serie.charactors.join(',') || ''}` required)
        
        .form-group
          label.label-basic(for="serie-companies") companies
          input#serie-companies.input-basic(type="text" value=`${serie && serie.companies.join(',') || ''}` required)
        
        .form-group-double
          .form-group
            label.label-basic(for="serie-company") company
            input#serie-company.input-basic(type="text" value=`${serie && serie.company || ''}` required)
          .form-group
            label.label-basic(for="serie-date") released date
            input#serie-date.input-basic(type="date" value=`${serie && serie.releasedDate || ''}` required)
        
        .form-group-double
          .form-group
            label.label-basic(for="serie-country") country
            select#serie-country.input-basic(type="text" data-value=`${serie && serie.country || ''}` required)
              option(value="Ghana") Ghana
              option(value="china") China
          .form-group
            label.label-basic(for="serie-rating") rating
            input#serie-rating.input-basic(type="text" value=`${serie && serie.rating || ''}` required)
        
        .form-group-double
          .form-group
            label.label-basic(for="serie-status") status
            select#serie-status.input-basic(type="text" data-value=`${serie && serie.status || ''}` required)
              option(value="ongoing") ongoing
              option(value="ended") ended
              option(value="paused") paused
              option(value="stopped") stopped
          .form-group
            //-
              <label for="serie-rating" class="label-basic">rating</label>
              <input type="text" id="serie-rating" class="input-basic" /> 
        
        .center-components
          button.btn-black.btn-normal#create-serie-btn(type="submit")
            span.btn-content save

      if(serie && serie.Seasons.length)
        .seasons#seasons
          .seasons-list
            each season in serie.Seasons
              +dbSeasonCard(season)
            //- - let a = 1
            //- while a < 4
            //-   -a++

      if(serie)
        a(href=`/dashboard/seasonform/${serieId}`)
          .center-components
            button.btn-black.btn-normal(type="submit")
              span.btn-content new season


  .popup.display-off#delete-season-popup
    .popup-box.popup-box-normal
      //- 
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#delete-season
          .form-heading
            h1 Are you sure you want to delete the season
          
          .center-components
            button.btn-black.btn-normal#delete-season-btn(type="submit")
              span.btn-content yes, delete

