extends ../externals/clientbase

block metaTags
  meta(name="keywords" content=`index of movie ${movie.title}, download movies for free, index of ${movie.title}, free movie download links`)
  meta(name="description" content=`Download movie ${movie.title} on blaciris for free and fast. Get other related movies and their links`)
  meta(name="subject" content="Providing free download links for Movies, TV Series and Games for all around the world")
  meta(name="copyright" content="blaciris")
  meta(name="topic" content='Movie Links: Download Movies For Free')
  //- meta(name="summary", content)
  meta(name="Classification" content="Entertainment")
  meta(name="url" content="http://blaciris.com")
  meta(name="identifier-URL" content="http://blaciris.com")
  meta(name="pagename" content=`Movie ${movie.title} Links and Download Page`)
  meta(name="category" content="TV Series")
  meta(name="coverage" content="Worldwide")
  meta(name="distribution" content="Global")
  meta(name="rating" content="General")
  meta(name="target" content="all")
  meta(name="HandheldFriendly" content="True")
  meta(name="MobileOptimized" content="320")
  meta(name="pageKey" content="Movie Page")

  meta(name="og:title" content=`${movie.title}`)
  meta(name="og:type" content="movie")
  meta(name="og:url" content=`https://blaciris.com/movies/${movie.title.toLowerCase().replaceAll(' ', '-')}/${movie.id}`)
  meta(name="og:image" content=`${movie.portrait}`)
  meta(name="og:site_name" content="blaciris")
  meta(name="og:description" content=`${movie.description}`)
  meta(name="og:country-name" content=`${movie.country}`)

block content
  include ../externals/cards

  main
    .product-title
      h2= movie.title || ''
      .product-tile-tags
        span= new Date(movie.releasedDate).getFullYear()
        | &nbsp; &nbsp; 
        span #{movie.rating || 'unrated'}/10
    .product-image
      img(src=`${movie.landscape}`)
    .product-description
      .product-tags
        .product-tags__cover
          span.tag
            a(href=`/movies?text=${movie.company.split(' ').join('-')}`)= movie.company
          each tag in movie.tags
            span.tag
              a(href=`/movies?text=${tag.toLowerCase().split(' ').join('-')}`)= tag

      p= movie.description

      //   
    .furthur-info
      .furthur-info__box
        span.furthur-info__title writers/producers/directors:
        span.furthur-info__list
          each director in movie.directors
            a(href=`/movies?text=${director.toLowerCase()}`) #{director},      

      .furthur-info__box
        span.furthur-info__title actors:
        span.furthur-info__list
          each actor in movie.actors
            a(href=`/movies?text=${actor.toLowerCase()}`) #{actor},


    section.container.links
      .links__container
        each link in movie.Links
          +downloadLink(link, 'movie')

    section.report.center-components
      button.btn-red.suggest.margin-a1 suggest
      button.btn-red.problem.margin-a1 report problem

  section.container
    .content.content-movies#suggestions(data-in=`${['keywords', ...movie.keywords].join(',')}` data-not-in=`${['id',movie.id]}` data-text=`${movie.company.split(' ').join('-')}-${movie.keywords.join('-')}`)
      - let n = 1
      while n < 18
        +movieCard(n)
        - n++

    .center-components
      a.show-more(href='')
        button.btn-primary--alt.btn-small
          span.btn-content load more



  //- .popup.display-off#suggest-popup
  //-   .popup-box.popup-box-normal
  //-     .popup-close
  //-       i.fas.fa-times
  //-     .popup-content.create-content
  //-       form.create-new#create-suggest
  //-         .form-heading
  //-           h1 Suggest
  //-         .form-group
  //-           label.label-basic(for="suggest-country") suggest on
  //-           select#suggest-country.input-basic(type="text")
  //-             option(value="movie") movie
  //-             option(value="serie") serie
  //-             option(value="game") game
  //-         .form-group
  //-           label.label-basic(for="suggest-activity") message
  //-           textarea#suggest-activity.input-basic(type="text")
  //-         .form-group-double
  //-           .form-group
  //-             label.label-basic(for="suggest-name") name
  //-             input#suggest-name.input-basic(type="text" placeholder="optional")
  //-           .form-group
  //-             label.label-basic(for="suggest-email") email
  //-             input#suggest-email.input-basic(type="email" placeholder="optional")
  //-         .center-components
  //-           button.btn-black.btn-normal(type="submit")
  //-             span.btn-content create


  //- .popup.display-off#problem-popup
  //-   .popup-box.popup-box-normal
  //-     .popup-close
  //-       i.fas.fa-times
  //-     .popup-content.create-content
  //-       form.create-new#create-problem
  //-         .form-heading
  //-           h1 Report Problem
  //-         .form-group
  //-           label.label-basic(for="problem-country") problem on
  //-           select#problem-country.input-basic(type="text")
  //-             option(value="broken-link") broken link
  //-             option(value="other") other
  //-         .form-group
  //-           label.label-basic(for="problem-activity") message
  //-           textarea#problem-activity.input-basic(type="text")
  //-         .form-group-double
  //-           .form-group
  //-             label.label-basic(for="problem-name") name
  //-             input#problem-name.input-basic(type="text" placeholder="optional")
  //-           .form-group
  //-             label.label-basic(for="problem-email") email
  //-             input#problem-email.input-basic(type="email" placeholder="optional")
  //-         .center-components
  //-           button.btn-black.btn-normal(type="submit")
  //-             span.btn-content create


