extends ../externals/clientbase

block metaTags 
  meta(name="keywords" content=`index of serie ${serie.title}, download series for free, index of ${serie.title}, free serie download links`)
  meta(name="description" content=`Download serie ${serie.title} on blaciris for free and fast. Get other related series and their links`)
  meta(name="subject" content="Providing free download links for Movies, TV Series and Games for all around the world")
  meta(name="copyright" content="blaciris")
  meta(name="topic" content='serie Links: Download series For Free')
  meta(name="summary", content=`${serie.description}`)
  meta(name="Classification" content="Entertainment")
  meta(name="url" content="http://blaciris.com")
  meta(name="identifier-URL" content="http://blaciris.com")
  meta(name="pagename" content=`serie ${serie.title} Links and Download Page`)
  meta(name="category" content="series")
  meta(name="coverage" content="Worldwide")
  meta(name="distribution" content="Global")
  meta(name="rating" content="General")
  meta(name="target" content="all")
  meta(name="HandheldFriendly" content="True")
  meta(name="MobileOptimized" content="320")
  meta(name="pageKey" content="serie Page")

  meta(name="og:title" content=`${serie.title}`)
  meta(name="og:type" content="serie")
  meta(name="og:url" content=`https://blaciris.com/series/${serie.title.toLowerCase().replaceAll(' ', '-')}/${serie.id}`)
  meta(name="og:image" content=`${serie.landscape}`)
  meta(name="og:site_name" content="blaciris")
  meta(name="og:description" content=`${serie.description}`)
  meta(name="og:country-name" content=`${serie.country}`)

  meta(name="twitter:title" content=`${serie.title}`)
  meta(name="twitter:description" content=`${serie.description}`)
  meta(name="twitter:image" content=`${serie.landscape}`)
  meta(name="twitter:card" content=`summery_large_image`)
  meta(name="twitter:site" content=`@blaciris_`)
  meta(name="twitter:creator" content=`@blaciris_`)


block content
  include ../externals/cards

  main
    .product-title
      h2 #{serie.title || ''} - season #{season.number || ''}
      .product-tile-tags
        span= new Date(serie.releasedDate).getFullYear()
        | &nbsp; &nbsp; 
        span #{serie.rating || 'unrated'}/10

    .product-image
      img(src=`${serie.landscape}`)
    .product-description
      .product-tags
        .product-tags__cover
          span.tag
            a(href=`/series?text=${serie.company.split(' ').join('-')}`)= serie.company
          each tag in serie.tags
            span.tag
              a(href=`/series?text=${tag.toLowerCase().split(' ').join('-')}`)= tag

      p= serie.description


    .furthur-info
      .furthur-info__box
        span.furthur-info__title writers/producers/directors:
        span.furthur-info__list
          each director in serie.directors
            a(href=`/series?directors=${director.toLowerCase().split(' ')[0]}`) #{director},      

      .furthur-info__box
        span.furthur-info__title actors:
        span.furthur-info__list
          each actor in serie.actors
            a(href=`/series?charactors=${actor.toLowerCase().split(' ')[0]}`) #{actor},

    .season-links
      .season-links__cover
        each episode in season.Episodes
          +episodeCard(episode)
        //- - let a = 1
        //- while a < 5
        //-   - a++

    section.report.center-components
      button.btn-red.suggest.margin-a1 suggest
      button.btn-red.report.margin-a1 report problem

  section.container
    .content.content-movies#suggestions(data-in=`${['keywords', ...serie.keywords].join(',')}` data-not-in=`${['id',serie.id]}` data-text=`${serie.company.split(' ').join('-')}-${serie.keywords.join('-')}`)
      - let b = 1
        while b < 13
          +movieCard(b)
          - b++
    //   
    .center-components
      a.show-more(href='')
        button.btn-primary--alt.btn-small
          span.btn-content load more


  //- .popup.display-off#suggest-popup
  //-   //   
  //-   .popup-box.popup-box-normal
  //-     .popup-close
  //-       i.fas.fa-times
  //-     .popup-content.create-content
  //-       form.create-new#create-suggest
  //-         .form-heading
  //-           h1 Suggest
  //-         .form-group
  //-           label.label-basic(for="suggest-country") suggest on
  //-           select#suggest-country.input-basic(type="text")
  //-             option(value="movie") movie
  //-             option(value="serie") serie
  //-             option(value="game") game
  //-         .form-group
  //-           label.label-basic(for="suggest-activity") message
  //-           textarea#suggest-activity.input-basic(type="text")
  //-         .form-group-double
  //-           .form-group
  //-             label.label-basic(for="suggest-name") name
  //-             input#suggest-name.input-basic(type="text" placeholder="optional")
  //-           .form-group
  //-             label.label-basic(for="suggest-email") email
  //-             input#suggest-email.input-basic(type="email" placeholder="optional")
  //-         .center-components
  //-           button.btn-black.btn-normal(type="submit")
  //-             span.btn-content create


  //- .popup.display-off#problem-popup
  //   
  .popup-box.popup-box-normal
    .popup-close
      i.fas.fa-times
    .popup-content.create-content
      form.create-new#create-problem
        .form-heading
          h1 Report Problem
        .form-group
          label.label-basic(for="problem-country") problem on
          select#problem-country.input-basic(type="text")
            option(value="broken-link") broken link
            option(value="other") other
        .form-group
          label.label-basic(for="problem-activity") message
          textarea#problem-activity.input-basic(type="text")
        .form-group-double
          .form-group
            label.label-basic(for="problem-name") name
            input#problem-name.input-basic(type="text" placeholder="optional")
          .form-group
            label.label-basic(for="problem-email") email
            input#problem-email.input-basic(type="email" placeholder="optional")
        .center-components
          button.btn-black.btn-normal(type="submit")
            span.btn-content create