header.header
  .header__header
    .header__logo
      .header-menu
        i.fas.fa-bars#menu-bar

      span.text-logo-secondary
        a(href='/')
          img(src='/images/logo-trans-black.svg')

    .search-bar
      form.search-bar__form#client-search
        input.input-search(type="serch" placeholder="search movie" id='search-bar')
        i.fas.fa-search#search-button

    nav.main-titles
      ul.title-list
        li.title-list-item
          a(href='/movies?order=releasedDate,desc,rating,desc') Movies
          ul.title-list-inner
            li.title-list-inner-item
              a(href='/movies?order=releasedDate,desc,rating,desc') New Released
            li.title-list-inner-item
              a(href='/movies?order=rating,desc,releasedDate,desc') Top Rated
            li.title-list-inner-item
              a(href='/movies?text=animation') animation

        li.title-list-item
          a(href='/series?order=releasedDate,desc,rating,desc') Tv Series
          ul.title-list-inner
            li.title-list-inner-item
              a(href='/series?order=releasedDate,desc,rating,desc') New Released
            li.title-list-inner-item
              a(href='/series?order=rating,desc,releasedDate,desc') Top Rated
            li.title-list-inner-item
              a(href='/series?text=amimation') animation
            //- li.title-list-inner-item
              a(href='/series?order=updatedAt,desc,rating,desc') new episodes
            li.title-list-inner-item
              a(href='/series?text=romance') romance

        li.title-list-item.title-list-item-3
          a(href='/games?order=releasedDate,desc,rating,desc') Games
          ul.title-list-inner
            li.title-list-inner-item
              a(href='/games?order=releasedDate,desc,rating,desc') New Released
            li.title-list-inner-item
              a(href='/games?order=rating,desc,releasedDate,desc') Top Rated
            li.title-list-inner-item
              a(href='/games?text=action') action

        li.title-list-item.title-list-item-4
          div More
          ul.title-list-inner
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=action`) action
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=comedy`) comedy
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=thriller`) thriller
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=fantasy`) fantasy
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=war`) war
            li.title-list-inner-item
              a(href=`/${ext.query || 'movies' }?text=single-player`) single player

        button.btn-red.suggest suggest

aside.sidebar#sidebar
  .right-components
    a(href='/')
      img(src='/images/logo-trans-white.svg')
    i.fas.fa-chevron-circle-left.close-sidebar#close-sidebar
  .sidebar__cover
    .sidebar__content
      nav.sidebar__content-categories
        ul
          li
            a(href='/movies') Movies
          li
            a(href='/series') Tv Series
          li
            a(href='/games') Games

        if(ext.page === 'home')
          ul
            li
              a(href=`/${ext.query || 'movies' }?text=trending&order=releasedDate,desc`) trending
            li 
              a(href=`/${ext.query || 'movies' }?order=releasedDate,desc`) new
            li
              a(href=`/${ext.query || 'movies' }?order=updatedAt,desc`) updated
            li
              a(href=`/${ext.query || 'movies' }?rating=gte,6.5`) top rated
          ul
            li
              a(href=`/${ext.query || 'movies' }?text=action`) action
            li
              a(href=`/${ext.query || 'movies' }?text=adventure`) adventure
            li
              a(href=`/${ext.query || 'movies' }?text=crime`) crime
            li
              a(href=`/${ext.query || 'movies' }?text=drama`) drama
            li
              a(href=`/${ext.query || 'movies' }?text=fantasy`) fantasy
            li
              a(href=`/${ext.query || 'movies' }?text=politics`) politics
            li
              a(href=`/${ext.query || 'movies' }?text=sci-fi`) sci-fi
            li
              a(href=`/${ext.query || 'movies' }?text=thriller`) thriller
            li
              a(href=`/${ext.query || 'movies' }?text=war`) war
          ul
            li(data-query='') apple tv
              a(href=`/${ext.query || 'movies' }?text=apple`) apple tv
            li
              a(href=`/${ext.query || 'movies' }?text=dc`) dc
            li
              a(href=`/${ext.query || 'movies' }?text=marvel`) marvel
            li
              a(href=`/${ext.query || 'movies' }?text=netflix`) netflix
            li
              a(href=`/${ext.query || 'movies' }?text=amazon`) amazon

          ul
            li
              a(href=`/${ext.query || 'movies' }?text=united states`) United States
            li
              a(href=`/${ext.query || 'movies' }?text=india`) india
            li
              a(href=`/${ext.query || 'movies' }?text=china`) china
            li
              a(href=`/${ext.query || 'movies' }?text=japan`) japan
            li
              a(href=`/${ext.query || 'movies' }?text=korea`) korea
            li
              a(href=`/${ext.query || 'movies' }?text=united kingdom`) United Kingdom
            li
              a(href=`/${ext.query || 'movies' }?text=african`) african

        if(ext.page === 'movies' || ext.page === 'movie')
          ul
            li
              a(href=`/movies?text=trending&order=releasedDate,desc`) trending
            li 
              a(href=`/movies?order=releasedDate,desc`) new
            li
              a(href=`/movies?order=updatedAt,desc`) updated
            li
              a(href=`/movies?rating=gte,6.5`) top rated
          ul
            li
              a(href=`/movies?text=action`) action
            li
              a(href=`/movies?text=adventure`) adventure
            li
              a(href=`/movies?text=crime`) crime
            li
              a(href=`/movies?text=drama`) drama
            li
              a(href=`/movies?text=fantasy`) fantasy
            li
              a(href=`/movies?text=politics`) politics
            li
              a(href=`/movies?text=sci-fi`) sci-fi
            li
              a(href=`/movies?text=thriller`) thriller
            li
              a(href=`/movies?text=war`) war
          ul
            li(data-query='') apple tv
              a(href=`/movies?text=apple`) apple tv
            li
              a(href=`/movies?text=dc`) dc
            li
              a(href=`/movies?text=marvel`) marvel
            li
              a(href=`/movies?text=netflix`) netflix
            li
              a(href=`/movies?text=amazon`) amazon

          ul
            li
              a(href=`/movies?text=united states`) United States
            li
              a(href=`/movies?text=india`) india
            li
              a(href=`/movies?text=china`) china
            li
              a(href=`/movies?text=japan`) japan
            li
              a(href=`/movies?text=korea`) korea
            li
              a(href=`/movies?text=united kingdom`) United Kingdom
            li
              a(href=`/movies?text=african`) african

        if(ext.page === 'series' || ext.page === 'serie')
          ul
            li
              a(href=`/series?text=trending&order=updatedAt,desc`) trending
            li 
              a(href=`/series?order=releasedDate,desc`) new
            li
              a(href=`/series?order=updatedAt,desc`) updated
            li
              a(href=`/series?rating=gte,6.5`) top rated
          ul
            li
              a(href=`/series?text=action`) action
            li
              a(href=`/series?text=adventure`) adventure
            li
              a(href=`/series?text=crime`) crime
            li
              a(href=`/series?text=drama`) drama
            li
              a(href=`/series?text=fantasy`) fantasy
            li
              a(href=`/series?text=politics`) politics
            li
              a(href=`/series?text=sci-fi`) sci-fi
            li
              a(href=`/series?text=thriller`) thriller
            li
              a(href=`/series?text=war`) war
          ul
            li(data-query='') apple tv
              a(href=`/series?text=apple`) apple tv
            li
              a(href=`/series?text=dc`) dc
            li
              a(href=`/series?text=marvel`) marvel
            li
              a(href=`/series?text=netflix`) netflix
            li
              a(href=`/series?text=amazon`) amazon

          ul
            li
              a(href=`/series?text=united states`) United States
            li
              a(href=`/series?text=india`) india
            li
              a(href=`/series?text=china`) china
            li
              a(href=`/series?text=japan`) japan
            li
              a(href=`/series?text=korea`) korea
            li
              a(href=`/series?text=united kingdom`) United Kingdom
            li
              a(href=`/series?text=african`) african

        if(ext.page === 'games' || ext.page === 'game')
          ul
            li
              a(href='/games?text=adventure') adventure
            li
              a(href='/games?text=arcade') arcade
            li
              a(href='/games?text=fighting') fighting
            li
              a(href='/games?text=horror') horror
            li
              a(href='/games?text=action') action
            li
              a(href='/games?text=puzzle') puzzle
            li
              a(href='/games?text=shooting') shooting
            li
              a(href='/games?text=racing') racing
            li
              a(href='/games?text=sports') sports
            //- li
            //-   a(href='/games?text=rpg') rpg
            li
              a(href='/games?text=war') war

        if(user)
          ul
            li 
              a(href='/dashboard/movies') dashbaord
