header.header
  .header__header
    .header__logo
      .header-menu
        i.fas.fa-bars#menu-bar
       
      span.text-logo-secondary
        a(href='/')
          img(src='/images/logo-trans-black.svg')
    
    .search-bar
      form.search-bar__form#client-search
        input.input-search(type="serch", placeholder="search movie" id='search-bar')
        i.fas.fa-search#search-button
    
    .main-titles
      ul.title-list
        button.btn-red.suggest suggest
        //- li.title-list-item
        //-   a(href='/movies') Movies
        //- li.title-list-item
        //-   a(href='/series') tv series
        //- li.title-list-item
        //-   a(href='/games') games

aside.sidebar#sidebar
  .right-components
    a(href='/')
      img(src='/images/logo-trans-white.svg')
    i.fas.fa-chevron-circle-left.close-sidebar#close-sidebar
  .sidebar__cover
    .sidebar__content
      .sidebar__content-categories
        ul
          li
            a(href='/movies') Movies
          li
            a(href='/series') Tv Series
          li
            a(href='/games') Games

        if(ext.page !== 'games' && ext.page !== 'game')
          ul
            li
              a(href=`/${ext.query || 'movies'}?text=trending`) trending
            li 
              a(href=`/${ext.query || 'movies'}?date=gte,${new Date(Date.now() - (7776000000)).toLocaleDateString()}`) new
            li
              a(href=`/${ext.query || 'movies'}?updatedAt=gte,${new Date(Date.now() - (7776000000)).toLocaleDateString()}`) updated
            li
              a(href=`/${ext.query || 'movies'}?rating=gte,6`) top rated
          ul
            li
              a(href=`/${ext.query || 'movies'}?text=action`) action
            li
              a(href=`/${ext.query || 'movies'}?text=adventure`) adventure
            li
              a(href=`/${ext.query || 'movies'}?text=crime`) crime
            li
              a(href=`/${ext.query || 'movies'}?text=drama`) drama
            li
              a(href=`/${ext.query || 'movies'}?text=fantasy`) fantasy
            li
              a(href=`/${ext.query || 'movies'}?text=politics`) politics
            li
              a(href=`/${ext.query || 'movies'}?text=sci-fi`) sci-fi
            li
              a(href=`/${ext.query || 'movies'}?text=thriller`) thriller
            li
              a(href=`/${ext.query || 'movies'}?text=war`) war
          ul
            li(data-query='') apple tv
              a(href=`/${ext.query || 'movies'}?company=apple`) apple tv
            li
              a(href=`/${ext.query || 'movies'}?company=dc`) dc
            li
              a(href=`/${ext.query || 'movies'}?company=marvel`) marvel
            li
              a(href=`/${ext.query || 'movies'}?company=netflix`) netflix
            li
              a(href=`/${ext.query || 'movies'}?company=amazon`) amazon
        
          ul
            li
              a(href=`/${ext.query || 'movies'}?country=united states`) United States
            li
              a(href=`/${ext.query || 'movies'}?country=india`) india
            li
              a(href=`/${ext.query || 'movies'}?country=china`) china
            li
              a(href=`/${ext.query || 'movies'}?country=japan`) japan
            li
              a(href=`/${ext.query || 'movies'}?country=korea`) korea
            li
              a(href=`/${ext.query || 'movies'}?country=united kingdom`) United Kingdom
            li
              a(href=`/${ext.query || 'movies'}?country=african`) african

        if(ext.page === 'games' || ext.page === 'game')
         
          ul
            li
              a(href='/games?country=adventure') adventure
            li
              a(href='/games?country=arcade') arcade
            li
              a(href='/games?country=fighting') fighting
            li
              a(href='/games?country=horror') horror
            li
              a(href='/games?country=open-word') open-word
            li
              a(href='/games?country=puzzle') puzzle
            li
              a(href='/games?country=shooter') shooter
            li
              a(href='/games?country=racing') racing
            li
              a(href='/games?country=sports') sports
            li
              a(href='/games?country=rpg') rpg
            li
              a(href='/games?country=war') war
        
        if(user)
          ul
            li 
              a(href='/dashboard/movies') dashbaord
